n8n-workflows/contact-finder-production.json
{
  "name": "Contact Finder - Production Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "148eaa2e-ca0f-46be-b4f2-647e48c28da7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "148eaa2e-ca0f-46be-b4f2-647e48c28da7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Contact finder started\", \"jobs\": $json.body.jobs.length } }}"
      },
      "id": "respond-immediately",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "id": "extract-payload",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-jobs",
      "name": "Loop Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [840, 300]
    },
    {
      "parameters": {
        "actor": "apify/linkedin-company-employees",
        "waitForFinish": true,
        "input": "={{ {\n  \"companyUrl\": $json.jobs[$('Loop Jobs').itemIndex].url || \"https://www.linkedin.com/company/\" + $json.jobs[$('Loop Jobs').itemIndex].company.toLowerCase().replace(/\\s+/g, '-'),\n  \"searchKeywords\": \"recruiter hiring HR talent acquisition people operations\",\n  \"maxItems\": 50\n} }}",
        "options": {}
      },
      "id": "apify-find-employees",
      "name": "Apify - Find Employees",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1040, 300],
      "credentials": {
        "apifyApi": {
          "id": "{{APIFY_CREDENTIAL_ID}}",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter to HR and recruiting contacts\nconst employees = $input.all();\nconst currentJob = $('Loop Jobs').item.json.jobs[$('Loop Jobs').itemIndex];\n\nconst hrKeywords = [\n  'recruit', 'talent acquisition', 'talent partner',\n  'hr', 'human resources', 'people operations', 'people partner',\n  'hiring', 'staffing', 'sourcer'\n];\n\nconst filtered = employees.filter(item => {\n  const position = (item.json.headline || item.json.position || '').toLowerCase();\n  return hrKeywords.some(keyword => position.includes(keyword));\n});\n\n// Limit to top 20 most relevant\nconst top20 = filtered.slice(0, 20);\n\nif (top20.length === 0) {\n  // If no HR contacts found, return empty array\n  return [{\n    json: {\n      userId: $('Extract Payload').item.json.userId,\n      userEmail: $('Extract Payload').item.json.userEmail,\n      contactsPerJob: $('Extract Payload').item.json.contactsPerJob,\n      currentJob: currentJob,\n      employees: []\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    userId: $('Extract Payload').item.json.userId,\n    userEmail: $('Extract Payload').item.json.userEmail,\n    contactsPerJob: $('Extract Payload').item.json.contactsPerJob,\n    currentJob: currentJob,\n    employees: top20.map(e => e.json)\n  }\n}];"
      },
      "id": "filter-hr-contacts",
      "name": "Filter HR Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "context",
              "name": "context",
              "value": "={{ \"You are an expert recruiter. Rank these LinkedIn profiles by how likely they are to respond to a job application outreach for:\\n\\nPosition: \" + $json.currentJob.position + \"\\nCompany: \" + $json.currentJob.company + \"\\nLocation: \" + $json.currentJob.location + \"\\n\\nProfiles:\\n\" + JSON.stringify($json.employees.map((e, i) => ({\n  id: i,\n  name: e.fullName || e.name,\n  headline: e.headline || e.position,\n  location: e.location\n}))) + \"\\n\\nReturn ONLY a JSON array with this exact format (no markdown, no explanation):\\n[{\\\"id\\\": 0, \\\"name\\\": \\\"Full Name\\\", \\\"headline\\\": \\\"Position\\\", \\\"score\\\": 9, \\\"reasoning\\\": \\\"Brief reason\\\"}]\\n\\nRank by: 1) Role relevance (recruiter/HR=10, hiring manager=7, other=3), 2) Seniority, 3) Location match. Return top \" + $json.contactsPerJob + \" only.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-ai-prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "={{ $json.context }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai-rank",
      "name": "OpenAI - Rank Contacts",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1640, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and select top N\nconst aiResponse = $input.item.json.message?.content || $input.item.json.choices?.[0]?.message?.content || '';\nconst contactsPerJob = $('Extract Payload').item.json.contactsPerJob;\nconst currentJob = $json.currentJob;\nconst employees = $json.employees || [];\n\nlet rankedContacts = [];\ntry {\n  // Try to extract JSON from response\n  const jsonMatch = aiResponse.match(/\\[.*\\]/s);\n  if (jsonMatch) {\n    rankedContacts = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.log('Failed to parse AI response, using fallback ranking');\n  // Fallback: rank by order\n  rankedContacts = employees.slice(0, contactsPerJob).map((emp, i) => ({\n    id: i,\n    name: emp.fullName || emp.name || 'Unknown',\n    headline: emp.headline || emp.position || '',\n    score: 10 - i,\n    reasoning: 'Auto-ranked by order'\n  }));\n}\n\n// Map back to full employee data and create final contacts\nconst selectedContacts = rankedContacts.slice(0, contactsPerJob).map(ranked => {\n  const employee = employees[ranked.id] || employees[0];\n  return {\n    name: ranked.name || employee.fullName || employee.name,\n    position: ranked.headline || employee.headline || employee.position,\n    email: employee.email || null,\n    company: currentJob.company,\n    linkedin_url: employee.profileUrl || employee.url,\n    verified: false,\n    relevance_score: ranked.score || 5,\n    reasoning: ranked.reasoning || 'Ranked by AI',\n    source: 'linkedin_apify'\n  };\n});\n\nreturn {\n  json: {\n    userId: $('Extract Payload').item.json.userId,\n    applicationId: currentJob.applicationId,\n    contacts: selectedContacts\n  }\n};"
      },
      "id": "parse-and-select",
      "name": "Parse & Select Top N",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT email, linkedin_url FROM contacts WHERE user_id = '{{ $json.userId }}'",
        "options": {}
      },
      "id": "check-duplicates",
      "name": "Check Duplicates (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2040, 300],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicates\nconst newContacts = $('Parse & Select Top N').item.json.contacts;\nconst existingContacts = $input.all().map(item => item.json);\n\nconst existingEmails = new Set(existingContacts.map(c => c.email?.toLowerCase()).filter(Boolean));\nconst existingLinkedIn = new Set(existingContacts.map(c => c.linkedin_url?.toLowerCase()).filter(Boolean));\n\nconst uniqueContacts = newContacts.filter(contact => {\n  const email = contact.email?.toLowerCase();\n  const linkedin = contact.linkedin_url?.toLowerCase();\n  \n  if (email && existingEmails.has(email)) return false;\n  if (linkedin && existingLinkedIn.has(linkedin)) return false;\n  \n  return true;\n});\n\nreturn {\n  json: {\n    userId: $('Parse & Select Top N').item.json.userId,\n    applicationId: $('Parse & Select Top N').item.json.applicationId,\n    contacts: uniqueContacts,\n    totalFound: newContacts.length,\n    duplicatesRemoved: newContacts.length - uniqueContacts.length\n  }\n};"
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "{{GOOGLE_SHEET_ID}}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Contact Finder Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "User ID": "={{ $json.userId }}",
            "Application ID": "={{ $json.applicationId }}",
            "Contacts Found": "={{ $json.totalFound }}",
            "Unique Contacts": "={{ $json.contacts.length }}",
            "Duplicates Removed": "={{ $json.duplicatesRemoved }}",
            "Contact Names": "={{ $json.contacts.map(c => c.name).join(', ') }}"
          }
        },
        "options": {}
      },
      "id": "log-to-sheets",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://sivio.vercel.app/api/contacts/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "wh_sec_contact_finder_n8n_2025_prod_v1_secure_token_xK9mP3nQ7yR2vL8cF4jH6tS1wN5bG0d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"user_id\": $json.userId,\n  \"application_id\": $json.applicationId,\n  \"contacts\": $json.contacts\n} }}",
        "options": {}
      },
      "id": "push-to-sivio",
      "name": "Push to Sivio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "loop-done",
              "leftValue": "={{ $('Loop Jobs').context.noItemsLeft }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-loop-done",
      "name": "Check Loop Done",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2840, 300]
    },
    {
      "parameters": {},
      "id": "workflow-complete",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3040, 200]
    },
    {
      "parameters": {},
      "id": "continue-loop",
      "name": "Continue Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3040, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Immediately": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Loop Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Jobs": {
      "main": [
        [
          {
            "node": "Apify - Find Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Find Employees": {
      "main": [
        [
          {
            "node": "Filter HR Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter HR Contacts": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI - Rank Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rank Contacts": {
      "main": [
        [
          {
            "node": "Parse & Select Top N",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Select Top N": {
      "main": [
        [
          {
            "node": "Check Duplicates (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates (Supabase)": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Push to Sivio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Sivio": {
      "main": [
        [
          {
            "node": "Check Loop Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loop Done": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Loop Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "3"
}
