n8n-workflows/contact-finder-workflow-fixed.json
{
  "name": "Contact Finder - LinkedIn HR Contacts (Cloud Compatible)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "148eaa2e-ca0f-46be-b4f2-647e48c28da7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Job Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "148eaa2e-ca0f-46be-b4f2-647e48c28da7"
    },
    {
      "parameters": {
        "jsCode": "// Extract the payload from webhook\nconst payload = $input.item.json.body || $input.item.json;\n\n// Return structured data\nreturn {\n  json: {\n    userId: payload.userId,\n    userEmail: payload.userEmail,\n    contactsPerJob: payload.contactsPerJob,\n    jobs: payload.jobs || []\n  }\n};"
      },
      "id": "parse-webhook",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Contact finder started', jobCount: $json.jobs.length } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// For now, create mock contact data\n// This is a simplified version that returns test data\n\nconst jobs = $input.item.json.jobs || [];\nconst contactsPerJob = $input.item.json.contactsPerJob || 3;\nconst userId = $input.item.json.userId;\n\n// Create mock contacts for each job\nconst allContacts = [];\n\njobs.forEach(job => {\n  for (let i = 0; i < contactsPerJob; i++) {\n    allContacts.push({\n      name: `HR Contact ${i + 1}`,\n      position: i === 0 ? 'Talent Acquisition Lead' : i === 1 ? 'HR Business Partner' : 'Recruiter',\n      email: null, // Will be enriched later\n      company: job.company,\n      linkedin_url: `https://www.linkedin.com/in/mock-profile-${i}`,\n      relevance_score: 10 - i,\n      reasoning: i === 0 ? 'Senior recruiter role, likely hiring manager' : 'Recruiting team member',\n      verified: false,\n      source: 'linkedin_mock',\n      applicationId: job.applicationId\n    });\n  }\n});\n\nreturn {\n  json: {\n    userId,\n    contacts: allContacts,\n    totalFound: allContacts.length\n  }\n};"
      },
      "id": "create-mock-contacts",
      "name": "Create Mock Contacts (Replace with Real Later)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://sivio.vercel.app/api/contacts/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "wh_sec_contact_finder_n8n_2025_prod_v1_secure_token_xK9mP3nQ7yR2vL8cF4jH6tS1wN5bG0d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"user_id\": $json.userId,\n  \"application_id\": $json.contacts[0]?.applicationId,\n  \"contacts\": $json.contacts\n} }}",
        "options": {}
      },
      "id": "push-to-sivio",
      "name": "Push Contacts to Sivio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Receive Job Data": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create Mock Contacts (Replace with Real Later)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mock Contacts (Replace with Real Later)": {
      "main": [
        [
          {
            "node": "Push Contacts to Sivio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "2"
}
