n8n-workflows/contact-finder-working.json
{
  "name": "Contact Finder - Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "148eaa2e-ca0f-46be-b4f2-647e48c28da7",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "148eaa2e-ca0f-46be-b4f2-647e48c28da7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Contact finder started\", \"jobs\": $json.body.jobs.length } }}"
      },
      "id": "respond-immediately",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract payload and prepare for loop\nconst payload = $input.item.json.body;\n\nreturn payload.jobs.map(job => ({\n  json: {\n    userId: payload.userId,\n    userEmail: payload.userEmail,\n    contactsPerJob: payload.contactsPerJob,\n    currentJob: job\n  }\n}));"
      },
      "id": "extract-and-split-jobs",
      "name": "Extract & Split Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "companyUrl",
              "name": "companyUrl",
              "value": "={{ $json.currentJob.url }}",
              "type": "string"
            },
            {
              "id": "searchKeywords",
              "name": "searchKeywords",
              "value": "={{ \"recruiter talent acquisition HR hiring \" + $json.currentJob.position.split(' ').filter(w => w.length > 3).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-apify-input",
      "name": "Prepare Apify Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "actor": "apify/linkedin-company-employees",
        "waitForFinish": true,
        "input": {
          "companyUrl": "={{ $json.companyUrl }}",
          "searchKeywords": "={{ $json.searchKeywords }}",
          "maxItems": 15
        },
        "options": {}
      },
      "id": "apify-find-employees",
      "name": "Apify - Find Employees",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [1040, 300],
      "credentials": {
        "apifyApi": {
          "id": "{{APIFY_CREDENTIAL_ID}}",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all Apify results for this job\nconst allResults = $input.all();\nconst currentJobData = $('Prepare Apify Input').item.json;\n\n// Get all employees from Apify results\nconst employees = allResults.map(item => item.json);\n\n// HR/recruiting keywords\nconst hrKeywords = [\n  'recruit', 'talent acquisition', 'talent partner', 'talent',\n  'hr', 'human resources', 'people operations', 'people partner',\n  'hiring manager', 'hiring', 'staffing', 'sourcer', 'sourcing'\n];\n\n// Team keywords from job position\nconst positionWords = currentJobData.currentJob.position.toLowerCase().split(' ');\nconst teamKeywords = positionWords.filter(w => w.length > 3);\n\n// Score and filter\nconst scoredEmployees = employees.map(emp => {\n  const headline = (emp.headline || emp.position || '').toLowerCase();\n  let score = 0;\n  let role = 'other';\n  \n  // HR role (highest priority)\n  const isHR = hrKeywords.some(k => headline.includes(k));\n  if (isHR) {\n    score = 100;\n    role = 'hr';\n  }\n  \n  // Team member\n  const isTeam = teamKeywords.some(k => headline.includes(k));\n  if (isTeam && !isHR) {\n    score = 70;\n    role = 'team';\n  }\n  \n  // Seniority bonus\n  if (headline.includes('senior') || headline.includes('lead') || headline.includes('director')) score += 20;\n  if (headline.includes('manager')) score += 15;\n  \n  // Location bonus\n  if (emp.location && currentJobData.currentJob.location) {\n    const empLoc = emp.location.toLowerCase();\n    const jobLoc = currentJobData.currentJob.location.toLowerCase();\n    if (empLoc.includes(jobLoc) || jobLoc.includes(empLoc)) score += 10;\n  }\n  \n  return { ...emp, score, role };\n});\n\n// Sort by score and filter out low scores\nconst filtered = scoredEmployees\n  .filter(e => e.score >= 60)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, currentJobData.contactsPerJob);\n\nreturn [{\n  json: {\n    userId: currentJobData.userId,\n    userEmail: currentJobData.userEmail,\n    currentJob: currentJobData.currentJob,\n    contactsPerJob: currentJobData.contactsPerJob,\n    employees: filtered\n  }\n}];"
      },
      "id": "filter-and-score",
      "name": "Filter & Score Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "={{ \"Rank these contacts for job application outreach:\\n\\nJob: \" + $json.currentJob.position + \" at \" + $json.currentJob.company + \"\\nLocation: \" + $json.currentJob.location + \"\\n\\nContacts (pre-filtered):\\n\" + JSON.stringify($json.employees.map((e, i) => ({\n  id: i,\n  name: e.fullName || e.name,\n  headline: e.headline,\n  location: e.location,\n  score: e.score,\n  role: e.role\n}))) + \"\\n\\nReturn ONLY a JSON array (no markdown):\\n[{\\\"id\\\": 0, \\\"finalScore\\\": 95, \\\"reasoning\\\": \\\"why contact them\\\"}]\\n\\nRank all contacts.\" }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "openai-rank",
      "name": "OpenAI - Rank",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1440, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and create contacts\nconst aiData = $input.item.json;\nconst aiContent = aiData.message?.content || aiData.choices?.[0]?.message?.content || '';\nconst jobData = $('Filter & Score Contacts').item.json;\n\nlet ranked = [];\ntry {\n  const jsonMatch = aiContent.match(/\\[.*\\]/s);\n  if (jsonMatch) ranked = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  ranked = jobData.employees.map((e, i) => ({\n    id: i,\n    finalScore: e.score,\n    reasoning: `${e.role} role`\n  }));\n}\n\nconst contacts = ranked.map(r => {\n  const emp = jobData.employees[r.id];\n  if (!emp) return null;\n  return {\n    name: emp.fullName || emp.name || 'Unknown',\n    position: emp.headline || emp.position || '',\n    email: emp.email || null,\n    company: jobData.currentJob.company,\n    linkedin_url: emp.profileUrl || emp.url || null,\n    verified: false,\n    relevance_score: r.finalScore || emp.score || 50,\n    reasoning: r.reasoning || `${emp.role} role`,\n    source: 'linkedin_apify',\n    role_type: emp.role\n  };\n}).filter(Boolean);\n\nreturn {\n  json: {\n    userId: jobData.userId,\n    applicationId: jobData.currentJob.applicationId,\n    jobId: jobData.currentJob.jobId,\n    company: jobData.currentJob.company,\n    position: jobData.currentJob.position,\n    contacts\n  }\n};"
      },
      "id": "create-contacts",
      "name": "Create Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "contacts",
        "returnAll": false,
        "limit": 1000,
        "options": {
          "queryString": "=user_id=eq.{{ $json.userId }}"
        }
      },
      "id": "check-duplicates",
      "name": "Check Duplicates",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1840, 300],
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CREDENTIAL_ID}}",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newContacts = $('Create Contacts').item.json.contacts;\nconst existing = $input.all().map(i => i.json);\n\nconst existingEmails = new Set(existing.map(c => c.email?.toLowerCase()).filter(Boolean));\nconst existingLinkedIn = new Set(existing.map(c => c.linkedin_url?.toLowerCase()).filter(Boolean));\n\nconst unique = newContacts.filter(c => {\n  const email = c.email?.toLowerCase();\n  const linkedin = c.linkedin_url?.toLowerCase();\n  if (email && existingEmails.has(email)) return false;\n  if (linkedin && existingLinkedIn.has(linkedin)) return false;\n  return true;\n});\n\nreturn {\n  json: {\n    userId: $('Create Contacts').item.json.userId,\n    applicationId: $('Create Contacts').item.json.applicationId,\n    jobId: $('Create Contacts').item.json.jobId,\n    company: $('Create Contacts').item.json.company,\n    position: $('Create Contacts').item.json.position,\n    contacts: unique,\n    totalFound: newContacts.length,\n    duplicatesRemoved: newContacts.length - unique.length,\n    uniqueCount: unique.length\n  }\n};"
      },
      "id": "remove-duplicates",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Contact Finder Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "User ID": "={{ $json.userId }}",
            "Job": "={{ $json.position + ' at ' + $json.company }}",
            "Application ID": "={{ $json.applicationId }}",
            "Total Found": "={{ $json.totalFound }}",
            "Unique Added": "={{ $json.uniqueCount }}",
            "Duplicates": "={{ $json.duplicatesRemoved }}",
            "Names": "={{ $json.contacts.map(c => c.name).join(', ') }}"
          }
        },
        "options": {}
      },
      "id": "log-sheets",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2240, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://sivio.vercel.app/api/contacts/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-secret",
              "value": "wh_sec_contact_finder_n8n_2025_prod_v1_secure_token_xK9mP3nQ7yR2vL8cF4jH6tS1wN5bG0d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"user_id\": $json.userId,\n  \"application_id\": $json.applicationId,\n  \"contacts\": $json.contacts\n} }}",
        "options": {}
      },
      "id": "push-to-sivio",
      "name": "Push to Sivio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond Immediately",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Immediately": {
      "main": [
        [
          {
            "node": "Extract & Split Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Split Jobs": {
      "main": [
        [
          {
            "node": "Prepare Apify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Apify Input": {
      "main": [
        [
          {
            "node": "Apify - Find Employees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Find Employees": {
      "main": [
        [
          {
            "node": "Filter & Score Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Score Contacts": {
      "main": [
        [
          {
            "node": "OpenAI - Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rank": {
      "main": [
        [
          {
            "node": "Create Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contacts": {
      "main": [
        [
          {
            "node": "Check Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicates": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Push to Sivio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-16T00:00:00.000Z",
  "versionId": "5"
}
